*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/iek/necessitudo/app/com/mobilecatalog/di/
src/main/java/iek/necessitudo/app/com/mobilecatalog/domain/
src/main/java/iek/necessitudo/app/com/mobilecatalog/presentation/activity/
src/main/java/iek/necessitudo/app/com/mobilecatalog/data/Authentification.kt

